body {
  background-color: #000; /* negro */
  color: #fff; /* color de texto blanco para mayor contraste */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #fff;
  }
}
